<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=(local);Initial Catalog=SCsc_003_MSSQL_Blog;User ID=sa;Password=QAWERT;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="test" value="testValue" />
  </appSettings>
</configuration>